---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: lmo-homestead-boxes-php7
name: lmo-homestead-boxes-php7
provider: virtualbox
version: 0.4.2

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
      # Default
    - map: "~/lmo-homestead-boxes"
      to: "/home/vagrant/lmo-homestead-boxes"

sites:
      # Default
    - map: homestead.app
      to: "/home/vagrant/lmo-homestead-boxes"

databases:
    - homestead


networks:
    - type: public_network
      bridge: "en0: Wi-Fi (AirPort)"

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
