---
####   PHP 5.6 BOX
ip: "192.168.10.11"
domain: homestead.app
memory: 2048
cpus: 1
hostname: homestead-boxes-php5.6
name: homestead-boxes-php5.6
provider: virtualbox
version: 0.3.3

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
      # Site1
    - map: "~/Sites/site"
      to: "/home/vagrant/site"
      # Default
    - map: "~/homestead-boxes"
      to: "/home/vagrant/homestead-boxes"

sites:
      # Site1
    - map: site1.app
      to: "/home/vagrant/site/public"
      # Default
    - map: homestead.app
      to: "/home/vagrant/homestead-boxes"

databases:
    - homestead
    - site1

networks:
    - type: public_network
      bridge: "en0: Wi-Fi (AirPort)"

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp

