---
ip: "192.168.10.11"
memory: 2048
cpus: 1
hostname: lmo-homestead-boxes-php5.6
name: lmo-homestead-boxes-php5.6
provider: virtualbox
version: 0.3.3

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
      # LMO 
    - map: "~/Sites/lmo.com"
      to: "/home/vagrant/lmo-com"
      database: lmo-com
      # CDC
    - map: "~/Sites/cdc"
      to: "/home/vagrant/cdc"
      database: cdc
      # Default
    - map: "~/lmo-homestead-boxes"
      to: "/home/vagrant/lmo-homestead-boxes"

sites:
      # LMO
    - map: lmo.app
      to: "/home/vagrant/lmo-com/wwwroot"
    - map: lmo.local
      to: "/home/vagrant/lmo-com/wwwroot"
      # CDC
    - map: cdc.app
      to: "/home/vagrant/cdc"
    - map: www.cdc.app
      to: "/home/vagrant/cdc"
      # Default
    - map: homestead.app
      to: "/home/vagrant/lmo-homestead-boxes"

databases:
    - homestead
    - lmo-com
    - cdc

networks:
    - type: public_network
      bridge: "en0: Wi-Fi (AirPort)"

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp

